/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
}
.notFound {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 30px;
  font-weight: 600;
}
